<ion-header [translucent]="true">  <!--This is for small header (Small blank)-->
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <!--This is the big header (Big Blank)-->
  <ion-header collapse="condense"> <!--COvering the small header-->
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" color="">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>

  <div>
    <!-- <img src="{{imgURL}}" height="200" width="200"/> --> <!--Display Image taken from camera or gallery-->
    <ion-button (click)="getCamera()">From Camera</ion-button>
    <ion-button (click)="getGallery()">From Gallery</ion-button>
    <ion-button (click)="addUser()">Add User</ion-button>
    <ion-button (click)="getUsers()">Get Users</ion-button>
    <ion-button (click)="getUserByName()">Get Specific User</ion-button>
  </div>
</ion-content>
